### Question 16
&emsp;A country is big if it has an area of bigger than 3 million square km or a population of more than 25 million.<br>
<br>
&emsp;**Write a SQL solution to output big countries' name, population and area.**<br>
&emsp;In an ipython notebook create a sqlite3 database and a table called World. Insert the World data into your table <br>
&emsp;(python + SQL syntax) and then proceed to write the big countries query. Your output does not need to be formatted<br>
&emsp;like table, you may just print the countries with thier populations and areas.<br>

#### Importing sqlite and creating a connection

In [8]:
import sqlite3 as sqlite
con = sqlite.connect('web.db')
cur = con.cursor()

#### Creating a Table

In [9]:
cur.execute('CREATE TABLE World(name text, continent text, area int, population bigint, gdp bigint)')

#### Creating a list of tuples for the records

In [10]:
records = [('Afghanistan', 'Asia', 652230, 25500100, 20343000),
          ('Albania', 'Europe', 28748, 2831741, 12960000),
          ('Algeria', 'Africa', 2381741, 37100000, 188681000),
          ('Andorra', 'Europe', 468, 78115, 3712000),
          ('Angola', 'Africa', 1246700, 20609294, 100990000)]

In [12]:
for record in records:
    cur.execute('INSERT INTO World values(?,?,?,?,?)', record)

In [22]:
cur.execute('SELECT w.name, w.population, area FROM World as w WHERE w.area > 3000000 OR w.population > 25000000')

In [23]:
lst = cur.fetchall()

In [24]:
lst

[('Afghanistan', 25500100, 652230), ('Algeria', 37100000, 2381741)]